body {
	padding: 0px;
	margin: 0px;
	font-family: arial;
}

input[type=text], input[type=password], input {
	padding: 5px;
	width: 200px;
}

select#select-app {
	-webkit-appearance: none;
  -moz-appearance: none;
	border-radius: 0px;
	border:0px;
	border-color: #444;
	margin-left: 20px;
	font-size: 18px;
	background-color: #444;
	color: white;
	height: 40px;
	width: 200px;
}

option#select-app {
	height: 40px;
	padding: 10px 5px;
}
select:active, select:hover {
  outline-color: #444;
	background-color: red;
	width: 18px;
}

select {
	border-radius: 5px;
	padding: 1px 5px;
  height: 25px;
  overflow: hidden;
}

option {
	padding: 2px 10px;
}

a {
	color: black;
	text-decoration: none;
}

.container {
	display: block;
	width: 600px;
	padding: 50px 0px;
	margin: auto;
}

/* width odpovida 30ti minutam do vyexpirovani stranky */
.expire {
	width: 100%;
	height: 5px;
	background: linear-gradient(to left, red, #444 5%, #444 90%);;
	margin: 0px;
	padding: 0px;
	z-index: 50;
	position: fixed;
}

.expire-bg {
	width: 100%;
	height: 5px;
	background: red;
	margin: 0px;
	padding: 0px;
	position: fixed;
}

.menu-top {
	z-index: 10;
	width: 100%;
	height: 40px;
	padding: 0px;
	background: #444;
	position: fixed;
	box-shadow: gray 0px 5px 10px;
	opacity: 0.98;
	font-weight: bold;
	color: white;
}

.menu-top a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
}

.menu {
	width:	290px;
	float: left;
	padding: 0px;
}

.view {
	width: 600px;
	float: right;
	padding-bottom: 40px;
}

.right {
	float: right;
	padding-right: 50px;
}

.hidden {
	display: none !important;
}

.disable {
	color: gray !important;
}

/* dd a dt v jednom radku */
dt {
	float: left;
	width: 200px;
	padding-top: 5px;
}
dd {
	width: 400px;
	padding-float: 1em;
	padding-top: 5px;
}

.error {
	color: red !important;
}

.item {
	border-width: 0px;
	border-radius: 5px;
	display: block;
	padding: 0px;
	box-shadow: gray 0px 5px 10px;
}

.item dl {
	padding: 30px;
}

.item i {
	float: right;
	padding-right: 20px;
}

.item .title {
	background: linear-gradient( to bottom, #abc, #89a);
	color: black;
	border-radius: 5px 5px 0px 0px;
	padding: 10px 25px;
	margin: 0px;
	font-size: larger;
	font-weight: bold;
}

.item .detail {
	background: white;
	padding: 10px;
	padding-bottom: 20px;
}

.long-list {
	display: block;
	height: 150px;
	overflow: auto;
}

.btn-blue:hover {
	color: black;
	font-size: 16px;
	background: linear-gradient( to bottom, #99f, #77c);
	border-radius: 10px;
	border: 0px;
	padding: 6px 20px;
	text-decoration: none;
	margin: 5px 5px;
}

.btn-blue {
	color: black;
	font-size: 16px;
	background: linear-gradient( to bottom, #99e, #66b);
	border-radius: 10px;
	border: 0px;
	padding: 6px 20px;
	text-decoration: none;
	margin: 5px 5px;
}

.btn-green {
	color: black;
	font-size: 16px;
	background: linear-gradient( to bottom, #8c8, #696);
	border-radius: 10px;
	border: 0px;
	padding: 6px 20px;
	text-decoration: none;
	margin: 5px 5px;
}

.btn-green:hover {
	color: black;
	font-size: 16px;
	background: linear-gradient( to bottom, #aea, #6a6);
	border-radius: 10px;
	border: 0px;
	padding: 6px 20px;
	text-decoration: none;
	margin: 5px 5px;
}


.btn-red {
	color: black;
	font-size: 16px;
	background: linear-gradient( to bottom, #d88, #a44);
	border-radius: 10px;
	border: 0px;
	padding: 6px 20px;
	text-decoration: none;
	margin: 5px 5px;
}

.btn-red:hover {
	color: black;
	font-size: 16px;
	background: linear-gradient( to bottom, #e99, #b55);
	border-radius: 10px;
	border: 0px;
	padding: 6px 20px;
	text-decoration: none;
	margin: 5px 5px;
}

.badge-gray {
	position: relative;
	top: -10px;
	float: right;
	margin-top: 10px;
	padding: 0 6px;
	line-height: 20px;
	border-radius: 10px;
	font-size: 14px;
	color: white;
	background-color: black;
}
