{% macro render_field(field, after_desc) -%}
	{% if field.errors -%}
	<dt class="error">{{ field.label }}</dt>
		<dd>{{ field(**kwargs)|safe }} {{ after_desc|safe }}<img src="/static/info.png" title="{% for error in field.errors %} {{ error }} {% endfor %}"></dd>
	{% else -%}
	<dt>{{ field.label }}</dt>
		<dd>{{ field(**kwargs)|safe }} {{ after_desc|safe }}</dd>
	{% endif -%}
{% endmacro %}