{% extends "layout.html" %}

{% block title %} Management {% endblock %}

{% block menu_top %}
<a class="right" href="/logout"> Logout {{ session.login }}</a>
{% endblock %}


{% block body %}
<script id='app-template' type="text/x-jquery-tmpl">
<dl>
  <dt>name</dt>
    <dd>${name}</dd>
  <dt>url</dt>
    <dd>${url}</dd>
  <dt>image</dt>
    <dd>${image}</dd>
  <dt>git url</dt>
    <dd>${git}</dd>
  <dt>branch</dt>
    <dd>${branch}</dd>
  <dt>log path</dt>
    <dd>${log_path}</dd>
  <dt>state</dt>
    <dd>${state}</dd>
</dl>
</script>

<script>
  // vypise potvrzovaci dialog se soupisem vsech zmen
  function confirm_changes(message, changed) {
	return confirm( message + "\n" + changed.join() );
  }
</script>

<fieldset>

<h1>Dashboard</h1>
<pre id="view-data">
</pre>

</fieldset>


{% endblock %}
