<!DOCTYPE html>
<html lang="en">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset="utf-8">
	<meta http-equiv="Cache-Control" content="nocache">
	<meta name="viewport" content="width=600">
	<title> {% block title %} mailadmin {% endblock %} </title>
	<script type="text/javascript" src="/static/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/static/jquery.tmpl.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/mailadm.css">
</head>
<body>


<!-- HORNI MENU -->
<div class="expire-bg"><div class='expire'>...</div></div>
<div class="menu-top">
{% if session.loged_in %}
	<select id="select-app" name="app-name" onchange="load_api_data(url=this.options[this.selectedIndex].value);">
	</select>
{% endif%}
{% block menu_top %}
<div class="right"><a></a></div>
{% endblock %}
</div>


<!-- TELO STRANKY -->
<div class="container">
{% block body %}
Hledana stranka neexistuje!!!
{% endblock %}
</div>


<!-- LOGOVACI OKENKO -->
{% with msg = get_flashed_messages() %}
{% if msg %}
<div class="flash">
	<ul class="flash-msg">
	{% for m in msg %}<li>{{ m }}</li>{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}

{% if session.loged_in %}
<script type="text/javascript" src="/static/easyadmin.js"></script>

<p class="right"> Copyright by iapp.eu (Marek Sirovy) 2015</p>
{% endif %}

</body>
</html>
