{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}

{% from "_formhelper.html" import render_field %}

<p>{{ message }}</p>
<form method="POST" action="/login">
	<dl>
		{{ render_field(form.login, autocomplete="off") }}
		{{ render_field(form.password, autocomplete="off") }}
		<dt>.</dt><dd><button class="btn-green">Login</button></dd>
	</dl>
</form>

{% endblock %}