{% extends "layout.html" %}

{% block title %} Management {% endblock %}

{% block menu_top %}
<div class="right"><a href="/logout"> Logout {{ session.login }}</a></div>
{% endblock %}

{% block body %}
{% from "_formhelper.html" import render_field %}

<fieldset class="item">
<script>	var changed = []; </script>
<form action="/mailadmin/{{domain}}/new" method="POST">
	<dl>
		<input type='hidden' name="domain_id" value="{{domain_id}}">
		<input type='hidden' name="domain" value="{{domain}}">
		{{ render_field(form.email, type="email", placeholder="@"+domain) }}
		{{ render_field(form.email_alias) }}
		{{ render_field(form.password, type="password", autocomplete="off") }}
		{{ render_field(form.quota, value=1000, type="number") }}
		{{ render_field(form.comment) }}
		{{ render_field(form.active) }}
		
	<dt>. </dt>
		<dd>
			<button class="btn-green" name="action" value="save"> Save </button>
		</dd>
	</dl>
</form>
</fieldset>

{% endblock %}