{% extends "layout.html" %}

{% block title %} Management {% endblock %}

{% block menu_top %}
<div class="right"><a href="/logout"> Logout {{ session.login }}</a></div>
{% endblock %}

{% block body %}
{% from "_formhelper.html" import render_field %}

<fieldset class="item">
<script>	var changed = []; </script>
<form action="/mailadmin/{{email}}" method="POST">
	<dl>
		<dt>Email</dt><dd> <strong> {{ data.email }} </strong></dd>
		<input type="hidden" name="email" value="{{data.email}}">
		{{ render_field(form.email_alias, value=data.email_alias, onchange='changed.push("\n- Email alias changed")' ) }}
		<dt> Password </dt>
			<dd><input type="password" name="password" value="{{data.password}}", onchange='changed.push("\n- Password changed")'></dd>
		{{ render_field(form.quota, type="number",value=data.quota_hard, onchange='changed.push("\n- Quota changed")' ) }}
		{{ render_field(form.comment, value=data.comment, onchange='changed.push("\n- Comment changed")' ) }}
		<dt>Active <dd><select name="active" onchange='changed.push("\n- Enable\Disable mailbox")'>
              <option value='1' {% if data.active == 1%} selected="selected"{% endif%}> Yes </option>
              <option value='0' {% if data.active == 0%} selected="selected"{% endif%}> No </option>	
		</select></dd>
	<dt>. </dt>
		<dd>
			<button class="btn-green" name="action" value="save"
			onclick="return confirm_changes('Chcete ulozit u mailboxu {{data.email}} tyto zmeny?', changed)"> Save </button>
			<button class="btn-red" name="action" value="delete"
			onclick="return confirm('Urcite chcete smazat email {{ data.email }}')"> Delete </button>
		</dd>
	</dl>
</form>
</fieldset>

{% endblock %}