{% extends "layout.html" %}

{% block title %} Management {% endblock %}

{% block menu_top %}
<a class="right" href="/logout"> Logout {{ session.login }}</a>
{% endblock %}


{% block body %}

<fieldset class="item">
  <div class="title"> New domain </div>
  <div class="detail">
	{% from "_formhelper.html" import render_field %}
	<form method="POST" action="/mailadmin/">
	<dl>
		<input type="hidden" name="action" value="new">
		{{ render_field(form.domain_name) }}
		{{ render_field(form.quota, type="number") }}
		{{ render_field(form.active) }}
	</dl>
	<p><button name="action" value="new" class='btn-green'> Create new </button>
	</form>
  </div>
</fieldset>

  
{% for dom, _data in data.items() %}
<fieldset class="item">
	<div class="title {% if _data.active == 0 %}disable"{% endif %}""> <a href="#{{dom}}"> {{ dom }} </a></div>
	<div class="detail hidden">
		
	<script>	var changed = []; </script>	
	<form action='/mailadmin/' method="POST">
	<dl>
		<input type="hidden" name="domain_name" value="{{dom}}">
		{{ render_field(form.quota, type="number", value=_data.quota) }}
		<dt>Active <dd><select name="active" onchange='changed.push("\n- Enable\Disable domain")'>
              <option value='1' {% if _data.active == 1 %} selected="selected"{% endif%}> Yes </option>
              <option value='0' {% if _data.active == 0 %} selected="selected"{% endif%}> No </option>	
		</select></dd>
		
		<dt> .</dt>
			<dd>
				<button name="action" value="save" class="btn-green"
				onclick="return confirm_changes('Chcete ulozit u domeny {{dom}} tyto zmeny?', changed)"> Save </button>
				<button name="action" value="delete" class="btn-red"
				onclick="return confirm('Urcite chcete smazat domanu {{ dom }}?')"> Delete </button> 		
			</dd>
	</dl>
		
	</form>
	<ol class="long-list">
		<li>
			<a href="/mailadmin/{{dom}}/new"> <strong> Add mailbox </strong> </a>
		</li>
	{% for mbox in _data.email %}
		<li>
			<a href=/mailadmin/{{mbox.email}} {% if mbox.mail_active == 0 %} class="disable"{% endif %}>
			{{ mbox.email }}</a>
			{{ mbox.email_alias }} {{ mbox.comment }}
		</li>
	{% endfor %}
	</ol>
	</div>
	<i>{{ _data.email|length }} mailboxes </i>
</fieldset>
{% endfor %} 


{% endblock %}
