{% extends "layout.html" %}

{% block title %} Management {% endblock %}

{% block menu_top %}
<a class="right" href="/logout"> Logout {{ session.login }}</a>
{% endblock %}


{% block body %}

<script>
  // vypise potvrzovaci dialog se soupisem vsech zmen
  function confirm_changes(message, changed) {
	return confirm( message + "\n" + changed.join() );
  }
</script>

<fieldset class="item">
  <div class="title"> New virtual host </div>
  <div class="detail">
	{% from "_formhelper.html" import render_field %}
	<form method="POST" action="/webadmin/">
	<dl>
		<input type="hidden" name="action" value="new">
		{{ render_field(form.vhost_name) }}
		{{ render_field(form.vhost_alias) }}
		{{ render_field(form.vhost_template) }}
		{{ render_field(form.login) }}
		{{ render_field(form.password, autocomplete="off") }}
		{{ render_field(form.email, type="email") }}
		{{ render_field(form.active) }}
	</dl>
	<p><button type="submit" value="create" class='btn-green'> Create site </button>
	</form>
  </div>
</fieldset>

{% for s in sites %}
<fieldset class="item">
  <div class="title {% if s.active == 'No' %}disable"{% endif %}">{{ s.vhost_name }} </div>
  <div class="detail hidden">
	<form action='/webadmin/' method="POST">
	  <script>	var changed = []; </script>
	  <dl>

		<input type="hidden" name="vhost_name" value="{{s.vhost_name}}">

		<dt>ServerAlias <dd><input name="vhost_alias" type="text" value="{{ s.vhost_alias }}"
		onchange='changed.push("\n-Change vhost alias")'></dd>

		<dt>Vhost template <dd>
		<select name="vhost_template" onchange='changed.push("\n- Change vhost template")'>
		  {% for k, v in templates %}
              <option value="{{ k }}" {% if s.vhost_template == k %} selected="selected"{% endif%}> {{ v }} </option>
		  {% endfor %}
		</select></dd>

		<dt>UserName <dd><input name="login" type="text" value="{{s.login}}"
		onchange="changed.push('\n- Changed user')">
		</dd>

		<dt>Password <dd><input name="password" type="password" value="{{s.password}}"
		onchange='changed.push("\n- Change user password")' autocomplete="off"></dd>

		<dt>Email <dd><input name="email" type="email" value="{{ s.email }}"
		onchange='changed.push("\n- Change contact email")'></dd>

		<dt>Active <dd><select name="active" onchange='changed.push("\n- Enable\Disable site")'>
            <option value="Yes" {% if s.active == 'Yes'%} selected="selected"{% endif%}> Yes </option>
            <option value="No" {% if s.active == 'No'%} selected="selected"{% endif%}> No </option>
		</select></dd>

		<dt>Allow SSH<dd><select name="ssh" onchange='changed.push("\n- Enable\Disable ssh")'>
            <option value="Yes" {% if s.ssh == 'Yes'%} selected="selected"{% endif%}> Yes </option>
            <option value="No" {% if s.ssh == 'No'%} selected="selected"{% endif%}> No </option>
		</select></dd>

	</dl>
		<button type="submit" value="change" name="action" class="btn-green"
						onclick="return confirm_changes('Chcete ulozit u domeny {{s.vhost_name}} tyto zmeny?', changed)"
						> Save site </button>
		<button type="submit" value="delete" name="action" class="btn-red"
						onclick="return confirm('Urcite chcete smazat domenu {{ s.vhost_name }}')"
						> Delete site </button>
	</form>
  </div>
</fieldset>
{% endfor %}


{% endblock %}
